	

    <!-- Page Content -->
    <div class="container">

        <div class="row">

     

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                         
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="../assets/melbourne01.jpg" alt="">
                                    <h2><span>Where will tomorrow take you</span></h2>
                                </div>
                           
                            </div>
                           
                        </div>
                    </div>
                        
                </div>

                <div class="row"> 

        		



                    <div id= "container" class="col-sm-4 col-lg-4 col-md-4" *ngFor = "let offer of offers" >

                         <!-- Image for each offer -->
                         <div class="thumbnail">
                           <a href = {{offer.hotelUrls.hotelInfositeUrl}} class="darken">
                            <img src={{offer.hotelInfo.hotelImageUrl}} onError="this.src='../assets/hotel-icon-10.png'; this.className= 'defualtimg' ">
                        </a>
                        <h2 *ngIf= "offer.hotelInfo.promotionDescription"><span>{{ offer.hotelInfo.promotionDescription }}</span></h2>
                        
                        <!-- Offer details --> 
                        <div class="caption">
                            <h4 class="pull-right">$ {{ offer.hotelPricingInfo.totalPriceValue }}</h4>
                            <h4><a href={{offer.hotelUrls.hotelInfositeUrl}}>{{ offer.offerDateRange.lengthOfStay }} Nights {{ this.Math.round(offer.hotelInfo.hotelStarRating) }}-Star Stay</a>

                            </h4>
                            <a href= {{offer.hotelUrls.hotelSearchResultUrl}}> 
                                <p> {{ offer.destination.city }} </p>
                            </a>
                            <p> Valid from {{offer.hotelInfo.travelStartDate}} thru {{offer.hotelInfo.travelEndDate}} </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">Guest Rating</p>
                            <p>{{ offer.hotelInfo.hotelGuestReviewRating }} </p>
                        </div>
                    </div>
                </div>
            </div>
              
